<StackLayout>
    <ActionBar>
        <Label text="Mon-it" class="actionbarTitle"></Label>
    </ActionBar>

    <StackLayout style="height: 30"></StackLayout>

    <Label class="label" text="Control Options"></Label>
    
    <StackLayout style="height: 30"></StackLayout>

    <Label class="label" text="Autonomous Flying"></Label>

    <Button text="Set Destination" (tap)="onSetDestination()"></Button>

    <StackLayout style="height: 30"></StackLayout>

    <Label class="label" text="Custom Controller"></Label>

    <Button text="Open Controller" (tap)="onOpenController()"></Button>
</StackLayout>