/* Add mobile styles for the component here.  */
@import "../../../app-variables";

StackLayout{
    background: $background;
}

Button {
    width: 250;
    height: 40;
    background: $primary;
    border-radius: 10;
    font-style: normal;
    font-weight: bold;
    font-size: 18;
    line-height: normal;
    text-align: center;
    letter-spacing: 0.01;
    color: $background;
}

.label {
    font-style: normal;
    font-weight: 600;
    font-size: 27;
    line-height: normal;
    text-align: center;
    letter-spacing: 0.08;
    color: $headings_color;
}