<StackLayout>
  <ActionBar>
    <Label text="Mon-it" class="actionbarTitle"></Label>
  </ActionBar>

  <StackLayout style="height: 30"></StackLayout>

  <Label class="label" text="Monitoring Options"></Label>

  <StackLayout style="height: 30"></StackLayout>

  <Label class="label" text="Live Monitoring"></Label>

  <Button text="Open Map" (tap)="onOpenMap()"></Button>

  <StackLayout style="height: 30"></StackLayout>

  <Label class="label" text="Live Feed"></Label>

  <Button text="Show Feed" (tap)="onShowFeed()"></Button>
</StackLayout>
