<TabView androidTabsPosition="bottom">

    <page-router-outlet
        *tabItem="{title: 'Equipment', iconSource: getIconSource('icon')}"
        name="equipmentTab">
    </page-router-outlet>

    <page-router-outlet
        *tabItem="{title: 'controller', iconSource: getIconSource('icon')}"
        name="controllerTab">
    </page-router-outlet>

    <page-router-outlet
        *tabItem="{title: 'Monitoring', iconSource: getIconSource('icon')}"
        name="monitoringTab">
    </page-router-outlet>

</TabView>
